*, html, head, header {
	margin:0;
	padding:0;
	font-family:  "Comic Sans MS", cursive, sans-serif;
}

html, body {
    background-color: white; 
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	height:100%;
	width:auto;
}

#topbar {
	position: fixed;
	height: 75px;
	width: 100%;
	background: white;
}

#home {
	position: absolute;
	top: 23px;
	left: 25%;
	color: black;
	padding-left: 10px;
	font-size: 25px;
}

#about { 
	position: absolute;
	left: 50%;
	top: 23px;
	color: black;
	font-size: 25px;
 }

 #interests {
 	color: black;
 	font-size: 25px;
 	position:absolute;
 	top: 23px;
 	left: 75%;
 }

 #home:hover, #about:hover, #interests:hover {
	cursor:pointer;
	text-decoration: underline;
}

#home:hover, #about:hover, #interests:hover {
	cursor:pointer;
}

 #picture {
 	left: 25%;
 	position: absolute;
 	bottom: 10%;
 	height: 500px;
 }

 #picture-circle {
 	border-radius: 50%;
 }

 .img-circle {
    border-radius: 50%;
}

 #SYD {
 	font-size: 200px;
 	position: absolute;
 	left: 60%;
 	bottom: 50%;
 }

 #NEY {
	font-size: 200px;
 	position: absolute;
 	left: 60%;
 	bottom: 25%;
 }