*, html, head, header {
	margin:0;
	padding:0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

html, body {
    background-color: white; 
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	height:100%;
	width:auto;
}

#topbar {
	position: fixed;
	height: 75px;
	width: 100%;
	background: white;
}

#home {
	position: absolute;
	top: 23px;
	left: 25%;
	color: black;
	padding-left: 10px;
	font-size: 25px;
	display: block;
}

#about { 
	position: absolute;
	left: 50%;
	top: 23px;
	color: black;
	font-size: 25px;
 }

 #interests {
 	color: black;
 	font-size: 25px;
 	position:absolute;
 	top: 23px;
 	left: 75%;
 }

 #home:hover, #about:hover, #interests:hover {
	cursor:pointer;
	text-decoration: underline;
}

#home:hover, #about:hover, #interests:hover {
	cursor:pointer;
}

#about_me {
	position: fixed;
	left: 55%;
	bottom: 33%;
	font-size: 20px;
	width: 500px;
}

#pic {
	position: fixed;
	height: 420px;
	bottom: 25%;
	right: 55%;
	left: 10%;
}